<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Preprocessing</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Image Preprocessing</h1>
        <div class="drop-zone" id="drop-zone">
            <p>Drag & Drop Files or Folder Here</p>
            <p>or</p>
            <button class="btn btn-primary" onclick="document.getElementById('fileInput').click()">Select File or Folder</button>
        </div>
        <input type="file" id="fileInput" class="file-input" webkitdirectory directory multiple>
        <div id="uploadStatus"></div>
        <div class="spinner-border text-primary" id="uploadSpinner" role="status" style="display: none;">
            <span class="sr-only">Uploading...</span>
        </div>       

        <div class="form-container">
            <div class="form-section">
                <h3>Functions</h3>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="resize">
                        <label class="custom-control-label" for="resize">Resize</label>
                    </div>
                    <div id="resizeInputs" style="display: none;">
                        <input type="number" id="resizeWidth" class="form-control mt-2" placeholder="Width">
                        <input type="number" id="resizeHeight" class="form-control mt-2" placeholder="Height">
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rotate">
                        <label class="custom-control-label" for="rotate">Rotate</label>
                    </div>
                    <div id="rotateInputs" style="display: none;">
                        <select id="rotateAngle" class="form-control mt-2">
                            <option value="90">90 degrees</option>
                            <option value="180">180 degrees</option>
                            <option value="270">270 degrees</option>
                        </select>
                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="mirror">
                    <label class="custom-control-label" for="mirror">Mirror</label>
                </div>

                <div class="form-group mt-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="addnoise">
                        <label class="custom-control-label" for="addnoise">Add Noise</label>
                    </div>
                    <div id="noiseInputs" style="display: none;">
                        <select class="form-control mt-2" id="noiseType">
                            <option value="Gaussian">Gaussian</option>
                            <option value="Brightness">Brightness</option>
                            <option value="Saturation">Saturation</option>
                        </select>
                        <div id="gaussianInputs" style="display: none;">
                            <input type="number" id="noiseMean" class="form-control mt-2" placeholder="Mean (range -50~50)" step="0.1", min="-50", max="50">
                            <input type="number" id="noiseStd" class="form-control mt-2" placeholder="Standard Deviation (range 0~50)" step="0.1", min="0", max="50">
                        </div>
                        <div id="brightnessInputs" style="display: none;">
                            <input type="number" id="brightnessFactor1" class="form-control mt-2" placeholder="Brightness Factor1 (range -50~50)" step="0.1", min="-50", max="50">
                            <input type="number" id="brightnessFactor2" class="form-control mt-2" placeholder="Brightness Factor2 (range -50~50)" step="0.1", min="-50", max="50">
                        </div>
                        <div id="saturationInputs" style="display: none;">
                            <input type="number" id="saturationFactor1" class="form-control mt-2" placeholder="Saturation Factor1 (range 0.0~2.0)" step="0.1", min="0.0", max="2.0">
                            <input type="number" id="saturationFactor2" class="form-control mt-2" placeholder="Saturation Factor2 (range 0.0~2.0)" step="0.1", min="0.0", max="2.0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="steps-section">
                <h3>Processing Steps</h3>
                <ul id="sortable-list" class="sortable-list"></ul>
            </div>
        </div>

        <button id="addStepBtn" class="btn btn-success btn-block mt-3" onclick="addStep()">Add Step</button>
        <button class="btn btn-primary btn-block mt-3" onclick="processImage()">Proceed</button>

        
        <div class="progress" style="display: none;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%; background-color: #007bff;" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
        

        <button id="downloadDataset" class="btn btn-info btn-block mt-3" disabled onclick="downloadDataset()">Download Dataset</button>
    </div>

    <script src="../static/index.js"></script>
    
</body>
</html>